@font-face {
    font-family: "Led Panel Station Off";
    src: url(font/Led\ Panel\ Station\ Off.ttf);
  }
  @font-face {
    font-family: "Pokemon Classic";
    src: url(font/Pokemon\ Classic.ttf);
  }
  body{
    margin:auto;
    font-family: 'Helvetica', sans-serif;
    background-image: url(img/hierba.png);
    background-repeat: repeat;  /* La imagen se repite */
    background-size: 5% ; /* La imagen mantiene su tamaño original */
    background-attachment: fixed; 
    image-rendering: pixelated;
    }
  img{
    max-width:100%;
    vertical-align:top;
  }

  .poke {
    width: 200px; /* Ajusta al tamaño deseado */
    display: flex;
    justify-content: center;
    align-items: center;
  }



  section{
    position:relative;
    width:550px;
    margin:auto;
    margin-top:20px;
  }	
  .ventanas,.botones{
    display:flex;
    justify-content:center;
    margin-bottom:12px;
  }
  .ventana:nth-child(2),.boton:nth-child(2){
    margin:auto 16px;        
  }
  .ventana{
    padding:6px;
    width:150px;
    height:150px;
    border:4px solid rgb(40, 73, 134);
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;     
    background-color: rgba(230, 230, 230, 0.89);
    box-shadow: inset 0 0 10px #41403f;
    margin:1%;   
  }
  .boton{
    
    width:150px;
    height:70px;
    padding: 2%;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    background-image: url(img/boton1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;  /* Asegura que no haya un fondo blanco */
    border: none;  /* Elimina cualquier borde */

  }

  .boton:hover{
    background-image: url(img/boton2.png);
  }

  #lanzar:hover{
    background-color:white;
    box-shadow:0 0 19px rgba(40, 73, 134, 0.9);
    box-shadow: inset 0 0 10px #41403f;
    transform: rotate(360deg)
    
  }
  header{
    height:168px;
  }
  #disponible{
    display:flex;
    align-items:center;

  }

  #dinero, #credito{
    color:orange;
    font-size:1.4em;
    background-color: black;
    font-family: "Led Panel Station Off";
  }
  #fichas{
    font-family: "Pokemon Classic";
  }
  #lanzar{
    transition: transform .5s ease-in-out;
    cursor:pointer;
    user-select:none;
    -moz-user-select:none;
    width:180px;
    height:180px;
    border-radius:50%;
    border:6px solid rgb(40, 73, 134);
    text-align:center;
    font-size:3.9em;
    line-height:140px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    position:absolute;
    left:0;
    right:0;
    background-color:#fff0c9;
    box-shadow: inset 0 0 10px #41403f;
    margin:auto;
    top:1px;
    box-sizing:border-box;
  }
  .euros{
    font-size:1.5rem;
  }
  #monedas{
    width:170px;
    margin-top:10px;
    filter: drop-shadow(2px 1px 2px #222);
  }
  #monedas img{
    width:30px;
    margin-right:3px;
    margin-bottom:3px;
  }
  #velo{
    display:none;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.5);
    position:fixed;
    top:0;
    left:0;
    justify-content:center;
    user-select:none;
    -moz-user-select:none;       
  }
  #cuadro_mensaje{
    width:540px;
    height:105px;
    border-radius:12px;
    border:5px solid rgb(40, 73, 134);
    background-image: url(img/fondowin.png);
    background-size: 15%;
    position:relative;
    top:355px;
    padding:5px;
  }
  #mensaje{
    font-size:1.7em;
    color:rgb(255, 255, 255);
    padding:2px;
    text-align:center;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
     #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }
  #cruz{
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
  }
  .moneda{
    margin-top:5px;
  }

  #titulo{
    margin-left: 30vw;
    margin-top: 2%;
    padding-left: 7vw;
    max-width: 20%;

  }

  #sombra{
    margin-left: 30vw;
    padding-left: 7vw;
    max-width: 20%;
  }

  #contenedor{
    border:5px;
    border-style: outset;
    max-width: 100%;
    display: inline-flex;
    margin-left: 30vw;
    background-color:rgb(139, 139, 139);
    background-image:  linear-gradient(rgba(122, 122, 253, 0.9), rgba(114, 114, 114, 0.9)),
    url(img/pokeart.jpg);
    background-size: cover;
    box-shadow: 5px 5px 15px 3px #333333;
    border-color: rgb(76, 171, 255);
    padding: 2%;
  }

  #animacion, #animacion1, #animacion2{
    padding:6px;
    width:150px;
    height:150px;
    border:4px solid rgb(40, 73, 134);
    border-radius:12px;
    position:absolute;
    align-items:center;
    justify-content:center;     
    background-color: rgb(68, 70, 71);
    box-shadow: inset 0 0 10px #41403f;
    display:flex;
    justify-content:center;
    margin-top: 1%;
  }


  #animacion{
    visibility: hidden;
    margin-right: 66%;
;
  }
  #animacion1{
    visibility: hidden;

  }
  #animacion2{
    visibility: hidden;

    margin-left: 66%;

  }

:root {
  --primColor: linear-gradient(rgba(122, 122, 253, 0.9), rgba(114, 114, 114, 0.9));
  --secoColor: #4cabff;
    --cornerRad: 4px;
  }
  details {
    margin: 40px;
    display:-webkit-inline-box;
    position:absolute;
  }
  summary {
    writing-mode: vertical-lr;
    box-shadow: 7px 7px 10px 0.5px #333333;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: var(--cornerRad);
    border-style: outset;
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "III";
    letter-spacing: -1px;
  }
  summary:hover {
    transform: scale(1.1);
    background: var(--secoColor);
    color: var(--primColor);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
    border-color:#5aabff;
    border-style: outset;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: rgba(230, 230, 230, 0.89);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(200%);
  }
  details::before {
    content: "";
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 312px;
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  

  .ventana, .boton {
    transition: all 0.3s ease-in-out;
  }

  #oak{
    margin-left: 16%;
    margin-top: 20%;
    position: absolute;
  }

  #oakmsg{
  font-family: "Pokemon Classic";
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px double #333;
  padding: 16px;
  margin-top: 4%;
  text-align: center;
  border-radius: 8px;
  color: #222;
  width: 170px;
  margin-left: 17%;
  margin-right: auto;
  height: 280px;
  position: absolute;
  }